.app-login-navbar-container .aln-nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}

.app-login-navbar-container .aln-nav-links a {
    text-align: center;
    margin-right: 40px;
    text-decoration: none;
    color: navy;
    font-size: 15px;
    font-weight: 600;
}

.app-login-navbar-container .aln-nav-links a.active-link {
    color: #cc3f3f;
}

.top-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top-banner-container .left-side {
    flex: 0 0 80%;
    background-color: #cc3f3f;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
}

.top-banner-container .right-side {
    flex: 0 0 19.9%;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
}